*{
    margin: 0;
    padding: 0;
    border: 1px solid;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}


/* #region NavBar */

.flex-container{
    display: flex;
    flex-direction: row;
    font-size: 5vw ;
    min-width: 180px;
    justify-content:  space-around;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    height: 200px;
    width: 100%;
}

#hero{
    background: linear-gradient(10deg, rgb(0,0,0,0.3),rgb(0,0,0,0.3)),
                url(images/optimize2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    
}

.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5vw;

}

.flex-item:hover{
    background-color: rgb(19, 19, 19);
}

.flex-item{
    font-size: 5vw;
    color: white;
    background-color: rgb(71, 71, 71);
    transition: 1s;
    box-shadow: 10px 10px 3px black;
}

.flex-img{
    max-width: 100%;
    height: auto;

}


/* #endregion */


@media screen and (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
    }

    
}
